.df-search-field {
position: relative;
}
.df-search-results-wrapper {
display: none;
position: absolute;
width: 100%;
background: #ffffff;
z-index: 21;
padding: 14px 0;
box-shadow: 1px 3px 5px;
}
.df-search-results {
overflow-x: hidden;
max-height: 300px;
float: left;
width: 100%;
}
.df-search-results .info-block {
float:left;
}
.df-search-results-wrapper.loading{
background: #ffffff url(../images/ajax-loader.gif) no-repeat center center;
}

.df-item {
float: left;
width: 100%;
color: #001C33;
display: block;
padding: 5px;
}
.df-item:hover{
    background: #ffffe0;
}
html body .df-search-results-wrapper,
html body .df-search-results-wrapper .df-item .title,
html body .df-search-results-wrapper .df-item .categories {
color: #001C33;
text-shadow: none;
font-size: 12px;
}
html body .df-search-results-wrapper .df-item .categories {
color: #8E8E8E;
}
.df-search-results-wrapper .df-thumbnail {
max-width: 50px;
padding-right: 10px;
float: left;
}